@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --light-bg:#F8FAFC;
 --light-text:#111827;
--dark-bg:#181818;
--dark-text:#F5F5F5;
}

@font-face {
  font-family: 'GeistMono';
  src: url('./fonts/GeistMonoVF.woff') format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-Regular.ttf') format('truetype'),
  url('./fonts/Orbitron-SemiBold.ttf') format('truetype'),
  url('./fonts/Orbitron-Bold.ttf') format('truetype'),
  url('./fonts/Orbitron-Black.ttf') format('truetype'),
  url('./fonts/Orbitron-ExtraBold.ttf') format('truetype'),
  url('./fonts/Orbitron-Medium.ttf') format('truetype');
  font-weight: 100 900;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-inter),Arial, Helvetica, sans-serif;
  color: var(--dark-text);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
