@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --light-bg:#F8FAFC;
 --light-text:#111827;
--dark-bg:#181818;
--dark-text:#F5F5F5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-text);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
